# Ignore Python compiled files
*.pyc
__pycache__/

# Virtual environment (commonly named .venv)
.venv/

# Large file - This was the log to run preprocess_data.py
**/output/20251119/logs/run_20251119_135857.log
**/output/__final_data/logs/run_20251119_135857.log

# Optional: OS files
.DS_Store
Thumbs.db
*.v2