# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore logs outputs
full_monthly_data/

# Files suffixes
*.png
*.log
*.h5
*.v2

# Virtual environment (commonly named .venv)
.venv/

# Optional: OS files
.DS_Store
Thumbs.db
